::selection {
	background-color: #E13300;
	color: white;
}

::-moz-selection {
	background-color: #E13300;
	color: white;
}

/*footer*/
footer {
	background-color: rgba(62, 62, 62, 1);
	color: rgba(200, 200, 200, 1);
	padding: 10px 0px 25px 0px;
}

footer p {
	font-size: 13px;
	color: #CCC;
}

.bg-defult{
	background-color:#e9ecef !important;
	color: #444;
}

.bg-mdl-add{
	background-color:#0099CC !important;
	color: #fff;
}

.bg-mdl-del{
	background-color: #A21A20 !important;
	color: #fff;
}

/*para la lista de archivos seleccionados de file inputs*/
.custom-file-label {
	cursor: pointer;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
}


/*pagination*/
.pagination {
	margin-top: 30px;
	border-top: 3px solid #ddd;
	text-align: center;
	position: relative;
	color: #777;
	list-style: none;
	border-radius: 0rem;
}

.page-link {
	display: inline-block;
	border: 0px;
	border-top: 0px solid #ddd;
	padding: 15px 15px 15px;
	font-size: 1.25rem;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #777;
	background-color: #fff;
}

.page-link:hover {
	margin-top: -3px;
	border-top: 3px solid;
	border-top-color: #0093C2;
	color: #0093C2;
	background-color: #fff;
}

.page-link:focus {
	margin-top: -3px;
	z-index: 2;
	outline: 0;
	color: #444;
	border-top-color: #444;
}

.page-item:first-child .page-link {
	margin-left: 0;
	border-top-left-radius: 0rem;
	border-bottom-left-radius: 0rem
	color:#444;
	margin-top: -3px;
	border-top: 3px solid #ddd;
}

.page-item:last-child .page-link {
	border-top-right-radius: 0rem;
	border-bottom-right-radius: 0rem;
	color: #444;
	border-top-color: #444;
	border-top: 3px solid #ddd;
	padding: 15px 10px 10px;
	margin-top: -3px;
}

.page-item.active .page-link {
	z-index: 1;
	background-color: #fff;
	margin-top: -3px;
	border-top: 3px solid #444;
	color: #444;
	border-top-color: #444;
}

.page-item.disabled .page-link {
	color: #6c757d;
	pointer-events: none;
	cursor: auto;
	background-color: #fff;
	border-color: #dee2e6
	display:inline-block;
	margin-top: -3px;
}

.pagination-lg .page-link {
	padding: .75rem 1.5rem;
	font-size: 1.25rem;
	line-height: 1.5
}

.pagination-lg .page-item:first-child .page-link {
	border-top-left-radius: .3rem;
	border-bottom-left-radius: .3rem
}

.pagination-lg .page-item:last-child .page-link {
	border-top-right-radius: .3rem;
	border-bottom-right-radius: .3rem
}

.pagination-sm .page-link {
	padding: .25rem .5rem;
	font-size: .875rem;
	line-height: 1.5
}

.pagination-sm .page-item:first-child .page-link {
	border-top-left-radius: .2rem;
	border-bottom-left-radius: .2rem
}

.pagination-sm .page-item:last-child .page-link {
	border-top-right-radius: .2rem;
	border-bottom-right-radius: .2rem
}

.page-item .page-link:focus {
	outline: none;
	box-shadow: 0 0 0 0rem rgba(40, 167, 69, 0.25);
}

.page-item:last-child .page-link:hover {
	color: #0093C2;
	background-color: #fff;
}

/*for form search official for all search table reorder*/
.form-control-borderless {
	border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
	border: none;
	outline: none;
	box-shadow: none;
}

.badge-labeled {
	padding-top: 0;
	padding-bottom: 0;
	padding-right: 0.2rem;
}

.badge-labeled i {
	padding: 0.25em  0.3rem;
	cursor: pointer;
	position: relative;
	display: inline-block;
	right: -0.2em;
	background-color: #000000;
	background-color: rgba(0, 0, 0, 0.2);
	border-left: solid 1px rgba(255, 255, 255, .5);
	border-radius: 0 0.25rem 0.25rem 0;
}

.bias-input-group .input-group-addon + .input-group-btn > .btn {
	border-radius: 0;
}

.bias-input-group .input-group-addon + .input-group-btn + .input-group-addon {
	border-right: 0;
	border-left: 0;
}

.input-group>.txt-search-nv:not(:first-child) {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-right: 2px;
	box-shadow: none;
}

.input-group .txt-search-mdl {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border-left: 1px solid #ced4da;
	border-top: 1px solid #ced4da;
	border-bottom: 1px solid #ced4da;
	border-right: 0px !important;
}

.btn-search-nav-search-nav:hover {
	color: none;
	background-color: transparent;
	border-color: #007bff
}

.btn-search-nav-search-nav.focus, .btn-search-nav-search-nav:focus {
	box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .5);
}

.btn-search-nav-search-nav.disabled, .btn-search-nav-search-nav:disabled {
	color: none;
	background-color: transparent;
}

.btn-search-nav-search-nav:not(:disabled):not(.disabled).active, .btn-search-nav-search-nav:not(:disabled):not(.disabled):active, .show>.btn-search-nav-search-nav.dropdown-toggle {
	color: none;
	background-color: none;
	border-color: transparent;
}

.btn-search-nav-frm-search-nav {
	border-radius: 100px;
	border-radius: 5px;
	color: #611529;
}

.btn-search-nav {
	color: none;
	border: 1px solid #ced4da;
	border-left: 0px;
}

.input-group>.input-group-append>.btn-search-nav, .input-group>.input-group-prepend:first-child>.btn-search-nav:not(:first-child), .input-group>.input-group-prepend:not(:first-child)>.btn-search-nav {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

/*for form search official for all search table reorder*/

/*para los checbox de seleccionar de una tabla*/

/*Checkbox para seleccionar elementos a eliminar de lista de elementos*/
.checkbox {
	padding-left: 20px;
}

.checkbox label {
	display: inline-block;
	position: relative;
	padding-left: 5px;
	color: #000;
}

.checkbox label::before {
	content: "";
	display: inline-block;
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0;
	margin-left: -20px;
	border: 1px solid #cccccc;
	border-radius: 3px;
	margin-top: 3px;
	background-color: #fff;
	-webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
	-o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
	transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.checkbox label::after {
	display: inline-block;
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0;
	top: 0;
	margin-left: -20px;
	padding-left: 2px;
	padding-top: 3px;
	font-size: 13px;
	color: #555555;
}

.checkbox input[type="checkbox"] {
	opacity: 0;
}

.checkbox input[type="checkbox"]:focus + label::before {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

.checkbox input[type="checkbox"]:checked + label::after {
	font-family: 'Font Awesome 5 Pro';
	content: "\f00c";
}

.checkbox input[type="checkbox"]:disabled + label {
	opacity: 0.65;
}

.checkbox input[type="checkbox"]:disabled + label::before {
	background-color: #eeeeee;
	cursor: not-allowed;
}

.checkbox.checkbox-circle label::before {
	border-radius: 50%;
}

.checkbox.checkbox-inline {
	margin-top: 0;
}

.checkbox-primary input[type="checkbox"]:checked + label::before {
	background-color: #428bca;
	border-color: #428bca;
}

.checkbox-primary input[type="checkbox"]:checked + label::after {
	color: #fff;
}

.checkbox-danger input[type="checkbox"]:checked + label::before {
	background-color: #d9534f;
	border-color: #d9534f;
}

.checkbox-danger input[type="checkbox"]:checked + label::after {
	color: #fff;
}

.checkbox-info input[type="checkbox"]:checked + label::before {
	background-color: #5bc0de;
	border-color: #5bc0de;
}

.checkbox-info input[type="checkbox"]:checked + label::after {
	color: #fff;
}

.checkbox-warning input[type="checkbox"]:checked + label::before {
	background-color: #f0ad4e;
	border-color: #f0ad4e;
}

.checkbox-warning input[type="checkbox"]:checked + label::after {
	color: #fff;
}

.checkbox-success input[type="checkbox"]:checked + label::before {
	background-color: #5cb85c;
	border-color: #5cb85c;
}

.checkbox-success input[type="checkbox"]:checked + label::after {
	color: #fff;
}

.checkbox label {
	padding-bottom: 6px;
}

/*para los checbox de seleccionar de una tabla*/

/*feed loading css*/
@-webkit-keyframes placeHolderShimmer {
	0% {
		background-position: -468px 0
	}

	100% {
		background-position: 468px 0
	}

}

@keyframes placeHolderShimmer {
	0% {
		background-position: -468px 0
	}

	100% {
		background-position: 468px 0
	}

}

.timeline-wrapper {
	background-color: #e9eaed;
	color: #141823;
	padding: 20px;
	border: 1px solid #ccc;
}

.timeline-item {
	background: #fff;
	border: 1px solid;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
	border-radius: 3px;
	padding: 5px;
	margin: 0 auto;
	max-width: 100%;
	min-height: 20%;
}

.animated-background {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-name: placeHolderShimmer;
	animation-name: placeHolderShimmer;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	background: #f6f7f8;
	background: #eeeeee;
	background: -webkit-gradient(linear, left top, right top, color-stop(8%, #eeeeee), color-stop(18%, #dddddd), color-stop(33%, #eeeeee));
	background: -webkit-linear-gradient(left, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
	background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
	-webkit-background-size: 80% 10%;
	background-size: 80% 10%;
	height: 96px;
	position: relative;
}

.background-masker {
	background: #fff;
	position: absolute;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.outlined .background-masker {
	border: 1px solid #ddd;
}

.outlined:hover .background-masker {
	border: none;
}

.outlined:hover .background-masker:hover {
	border: 1px solid #ccc;
	z-index: 1;
}

.background-masker.header-top, .background-masker.header-bottom, .background-masker.subheader-bottom {
	top: 0;
	left: 40px;
	right: 0;
	height: 10px;
}

.background-masker.header-left, .background-masker.subheader-left, .background-masker.header-right, .background-masker.subheader-right {
	top: 10px;
	left: 40px;
	height: 8px;
	width: 10px;
}

.background-masker.header-bottom {
	top: 18px;
	height: 6px;
}

.background-masker.subheader-left, .background-masker.subheader-right {
	top: 24px;
	height: 6px;
}

.background-masker.header-right, .background-masker.subheader-right {
	width: auto;
	left: 300px;
	right: 0;
}

.background-masker.subheader-right {
	left: 230px;
}

.background-masker.subheader-bottom {
	top: 30px;
	height: 10px;
}

.background-masker.content-top, .background-masker.content-second-line, .background-masker.content-third-line, .background-masker.content-second-end, .background-masker.content-third-end, .background-masker.content-first-end {
	top: 40px;
	left: 0;
	right: 0;
	height: 6px;
}

.background-masker.content-top {
	height: 20px;
}

.background-masker.content-first-end, .background-masker.content-second-end, .background-masker.content-third-end {
	width: auto;
	left: 380px;
	right: 0;
	top: 60px;
	height: 8px;
}

.background-masker.content-second-line {
	top: 68px;
}

.background-masker.content-second-end {
	left: 420px;
	top: 74px;
}

.background-masker.content-third-line {
	top: 82px;
}

.background-masker.content-third-end {
	left: 300px;
	top: 88px;
}

/*para feed loading*/

/*for table over checkbox*/
.tbl-chk input[type="checkbox"] {
	display: none;
}

.tbl-chk tr:hover input[type="checkbox"] {
	display: block;
}

.tbl-chk input[type="checkbox"]:checked {
	display: block;
}

.row-link th.th-link:hover {
	cursor: pointer;
	color: #0069d9;
}

.label {
	border-radius: 4px;
	text-shadow: none;
	font-size: 10px;
	font-weight: normal;
	padding: 1px 3px 1px 3px;
	background-color: #abbac3 !important;
	color: #fff;
}

.label[class*="span"][class*="arrow"] {
	min-height: 0;
}

.label-primary {
	background-color: #0976b4 !important;
}

.label-success {
	background-color: #0976b4 !important;
}

.label-danger {
	background-color: #cc2127 !important;
}

.label-danger {
	background-color: #cc2127 !important;
}

.quick-btn .spn-total {
	position: absolute;
	margin-top: -25px;
}

.input-group>.txt-search-nv:not(:first-child) {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-right: 1px;
	border-left: 1px solid #6c757d !important;
}

.txt-search-nv:focus {
	border-color: #ced4da;
	outline: 0;
	box-shadow: 0 0 0 0.0rem rgba(0, 123, 255, 0.25);
}

/*Form input float label*/
.has-float-label {
	position: relative;
	width: 100%;
}

.has-float-label label {
	position: absolute;
	left: 0;
	top: 0;
	cursor: text;
	font-size: 75%;
	opacity: 1;
	-webkit-transition: all .2s;
	transition: all .2s;
	top: -.5em;
	left: 12px;
	z-index: 3;
	line-height: 1;
	padding: 0 1px;
}

.has-float-label label::after {
	content: " ";
	display: block;
	position: absolute;
	background: white;
	height: 2px;
	top: 50%;
	left: -.2em;
	right: -.2em;
	z-index: -1;
}

.has-float-label .form-control::-webkit-input-placeholder {
	opacity: 1;
	-webkit-transition: all .2s;
	transition: all .2s;
}

.has-float-label .form-control:placeholder-shown:not(:focus)::-webkit-input-placeholder {
	opacity: 0;
}

.has-float-label .form-control:placeholder-shown:not(:focus) + label {
	/*font-size: 150%;*/
	opacity: .5;
	top: .3em;
	font-weight: normal;
}

.input-group .has-float-label {
	display: table-cell;
}

.input-group .has-float-label .form-control {
	border-radius: 4px;
}

.input-group .has-float-label:not(:last-child) .form-control {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}

.input-group .has-float-label:not(:first-child) .form-control {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	margin-left: -1px;
}

.has-float-label input:focus, .has-float-label textarea:focus, .has-float-label select:focus {
	border-color: #0d47a1;
	box-shadow: none;
}

.has-float-label .form-control:placeholder-shown:not(:focus) + * {
	font-size: 100%;
	margin-top: 4px;
}

/*.login-box-body .form-control-feedback, .register-box-body .form-control-feedback {
	color: #777;
}*/

/*.form-control-feedback {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
	display: block;
	width: 34px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	pointer-events: none;
}*/

.form-control-feedback {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
	display: block;
	width: 34px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	pointer-events: none;
}

fieldset {
	border: 1px solid #ddd !important;
	padding: 5px;
	
	border-radius: 4px;
	background-color: #FFF;
}

legend {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 0px;
	margin-right: 0px;
	min-width: 5%;
	width: auto;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 2px 10px 2px 10px;
	background-color: #ffffff;
}

/*Form input float label*/


.spin-x {
	width: 1rem;
	height: 1rem;
	border-width: 0.1em;
}

.spin-1x {
	width: 1.2rem;
	height: 1.2rem;
	border-width: 0.1em;
}

.spin-2x {
	width: 2rem;
	height: 2rem;
	border-width: 0.1em;
}

.spin-3x {
	width: 3rem;
	height: 3rem;
	border-width: 0.1em;
}

.w-5 {
	width: 5% !important;
}

.w-8 {
	width: 8% !important;
}

.w-10 {
	width: 10% !important;
}

.w-15 {
	width: 15% !important;
}

.w-20 {
	width: 20% !important;
}

.w-30 {
	width: 30% !important;
}

.w-35 {
	width: 30% !important;
}

.w-40 {
	width: 30% !important;
}

.w-60 {
	width: 30% !important;
}

.w-80 {
	width: 30% !important;
}

.w-90 {
	width: 30% !important;
}

.imgHolder {
	position: relative;
}

.fit-image {
	width: 100%;
	object-fit: cover;
	height: 80px;
}